// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #000000, #ECE9D8);
$fg_color: if($variant == "dark", #ECE9D8, #000000);
$base_color: if($variant == "dark", #000000, #FFFFFF);
$text_color: if($variant == "dark", #FFFFFF, #000000);
$button_bg_color: if($variant == "dark", #000000, #f8f8f8);
$button_fg_color: if($variant == "dark", #f8f8f8, #000000);
$header_button_bg_color: #f8f8f8;
$header_button_fg_color: #000000;
$selected_bg_color: #3169C6;
$selected_fg_color: #FFFFFF;
$tooltip_bg_color: #ECE9D8;
$tooltip_fg_color: #000000;

// dark colors
$dark_bg_color: #ECE9D8;
$dark_fg_color: #000000;

// shadows
/*$dark_shadow: #000;*/
/*$light_shadow: #fff;*/
$dark_shadow: shade($fg_color, .2);
$light_shadow: lighten($bg_color, .4);

// caret
$primary_caret_color: #ffffff;
$secondary_caret_color: #ffffff;
$caret_aspect_ratio: 0.04;

// white and black
//$black: #000;
//$white: #fff;
$black: shade($fg_color, .4);
$white: lighten($bg_color, .55);

//$link_color: mix($selected_bg_color, $fg_color, .3);
$link_color: #285bff;
$success_color: #37bd58;
$warning_color: #f6be48;
$error_color: #fc4a6d;

$info_fg_color: #010101;
$info_bg_color: #199ffd;
$warning_fg_color: #010101;
$warning_bg_color: $warning_color;
$question_fg_color: #010101;
$question_bg_color: $info_bg_color;
$error_fg_color: #010101;
$error_bg_color: $error_color;

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_focused: $dark_bg_color;
$titlebar_bg_unfocused: $bg_color;
$titlebar_fg_focused: $dark_fg_color;
$titlebar_fg_unfocused: mix($fg_color, $bg_color, .4);

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg_focused: $titlebar_bg_focused;
$wm_bg_unfocused: $titlebar_bg_unfocused;
$wm_border_focused: #3169C6;
$wm_border_unfocused: #ECE9D8;
$wm_title_focused: $titlebar_fg_focused;
$wm_title_unfocused: $titlebar_fg_unfocused;
$wm_icons_focused: $titlebar_fg_focused;
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: $titlebar_fg_unfocused;
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 3px;
$spacing: 3px;
$gradient: 0.08;

$contrast: .8;
