window.tiled {
	background: rgba(1,1,1,0.75);
  border-radius: 0;
}

menubar,
separator,
toolbar entry,
notebook treeview,
treeview button,
notebook paned.horizontal box.horizontal scrolledwindow widget:dir(ltr) {
	background: none;
}

toolbar entry {
	border: 1px rgba(70,70,70,0.75) solid;
}

notebook,
toolbar,
headerbar,
.titlebar,
messagedialog {
  background: rgba(1,1,1,0.8);
}

messagedialog {
  border-radius: 0;
}

toolbar {
 border-top: 1px rgba(70,70,70,0.5) solid;
}

notebook {
	border-bottom: 1px rgba(70,70,70,0.5) solid;
}

notebook stack paned box.vertical {
	border-right: 1px #fff solid;
	border-bottom: 1px #fff solid;
	border-radius: 0 0 4px 0;
	margin-bottom: 12px;
}

notebook stack {
	margin-right: 12px;
	margin-left: 12px;
}

menubar {
  box-shadow: none;
}

.titlebar {
  border-radius: 0;
  background: rgba(1,1,1,0.75);
}


menu {
padding: 5px;
border: 1px #1f1f1f solid;
box-shadow: none;
border-radius: 5px;
}

menu separator {
background: #4E4E4E;
margin-top: 5px;
margin-bottom: 5px;
}

menu menuitem {
padding-top: 2px;
padding-bottom: 0;
font-size: 14px;
border-radius: 3px;
}
