/* Some themes paint window frames; neutralize them */
headerbar, .titlebar {
    background-color: rgba(0, 0, 0, 0.75);
}

* {
	border: none;
	border-radius: 0;
    box-shadow: none;
}

.tiled {
	background-color: rgba(0, 0, 0, 0.75);
}

.frame, header {
	background: none;
}

.background .frame .frame stack {
	background-color: #0F0F0F;
}