placessidebar {
	background: none;
}

.view {
	border-radius: 10px;
	margin: 0 12px 12px 0;
	background-color: rgb(5, 5, 5);
}

.background {
	background-color: rgba(0, 0, 0, 0.75);
	margin: 0;
}

.navigation-sidebar {
	background-color: rgb(30, 30, 30);
}