
#NautilusPathBar {
	border: 1px white solid;
}

header {
	border-bottom: 1px white solid;
}

.nautilus-window.view.view .sidebar-pane scrolledwindow {
	border-bottom: 1px white solid;
	border-left: 1px white solid;
	border-top: 1px white solid;
	border-radius: 6px 0 0 4px;
	background: none;
}


window.background.view.view.view,
window.background.view.view.view gridview,
window.background.view.view.view columnview,
window.background.view.view.view columnview listview,
window.background.view.view.view placessidebar,
window.background.view.view.view #NautilusPathBar {
	background: #010101;
}


.nautilus-window flap.unfolded > placessidebar > scrolledwindow > viewport > list.navigation-sidebar > row.activatable:selected > revealer > box,
.nautilus-window .sidebar-pane > toolbarview > placessidebar > scrolledwindow > viewport > list.navigation-sidebar > row.activatable:selected > revealer > box {
	border-image-width: 9px 4px 9px 50px;
  border-image-slice: 18 8 18 100 fill;
	background: #010101;
	border-image-source: url("assets/row-selected-blackness-dark-transparent.png");
}
