
window.background.csd {
	background-color: rgba(0, 0, 0, 0.75);
}

.background .resources-columnview {
	margin: 0 12px;
	padding: 12px;
}

.nautilus-window .view {
    margin: 0 12px 12px 0;
}

.nautilus-window.view.csd.background {
	background-color: rgba(0, 0, 0, 0.75);
	margin: 0;
}