@import url("file:///nix/store/46kyvaa30fnv77446wphnmyfdhh7633n-orchis-theme-2025-04-25/share/themes/Orchis-Grey-Dark/gtk-4.0/gtk.css");

#NautilusPathBar {
	border: 1px white solid;
}

header {
	border-bottom: 1px white solid;
}

.nautilus-window.view.view .sidebar-pane scrolledwindow {
	border-bottom: 1px white solid;
	border-left: 1px white solid;
	border-top: 1px white solid;
	border-radius: 6px 0 0 4px;
}


window.background.view.view.view,
window.background.view.view columnview,
window.background.view.view columnview listview,
window.background.view.view placessidebar {
	background: #000000;
}


.nautilus-window flap.unfolded > placessidebar > scrolledwindow > viewport > list.navigation-sidebar > row.activatable:selected > revealer > box,
.nautilus-window .sidebar-pane > toolbarview > placessidebar > scrolledwindow > viewport > list.navigation-sidebar > row.activatable:selected > revealer > box {
	border-image-width: 9px 4px 9px 50px;
  border-image-slice: 18 9 18 100 fill;
	background: black;
	border-image-source: url("assets/row-selected-blackness-dark-transparent.png");
}
