/* global */
* {
  font-size: 13px;
  min-height: 0;
}

#waybar {
  background: none;
  background-color: rgba(0,0,0,0.75);
  border-radius: 0 0 16px 16px;
}

#workspaces {
  margin-left: 3px;
}

#workspaces,
#taskbar {
  padding: 3px 0;
  min-width: 10px;
}

#pulseaudio,
#clock {
  padding: 0 12px;
}

#workspaces button,
#workspaces button,
#taskbar button {
  padding: 3px 8px;
}


#workspaces button.active,
#workspaces button.focused,
#taskbar button.active {
  color: rgba(230, 230, 230, 1);
  border: rgba(255, 255, 255, 0.9) solid 2px;

  padding: 3px 15px;
  border-radius: 100px;  /* pill */
}

#workspaces button.urgent {
  background-color: rgba(200, 80, 80, 0.85);
  color: white;
}