window {
    background: transparent;
}

#main {
    /* background: transparent; */
    border-radius: 12px;
    background: transparent;
}

#entry {
    padding: 10px 20px;
    border-radius: 12px;
    
    background: transparent;
    color: #fff;
    /* background: rgba(0, 0, 0, 0.5); */
}

#main {
    background: transparent;
    color: #fff;
    
    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border: rgba(255, 255, 255, 0.9) solid 2px;
}

#plugin, #match {
    background: transparent;
}

#match {
    border-radius: 7px;
    padding: 2px 5px;
}

#match:selected {
    background-color: rgba(70, 70, 70, 0.5);
    padding-left: 16px;
}