window {
    background: transparent;
}

#main {
    /* background: transparent; */
    border-radius: 10px;
    background: transparent;
    background: rgba(15, 15, 15, 0.5);
}

#entry {
    padding: 10px 20px;
    border-radius: 10px;

    background: transparent;
    color: #fff;

    border: none;
}

#plugin {
    background: transparent;
    color: #fff;
    
    padding: 5px 10px;
}

#match {
    border-radius: 10px;
    background: transparent;
}


#match:selected {
    background-color: rgba(36, 36, 36, 0.5);
}

#results {
    /* background: rgba(0, 0, 0, 0.5); */
    background: transparent;
}