window {
    background: transparent;
}

#main {
    /* background: transparent; */
    border-radius: 10px;
    background: transparent;
}

#entry {
    padding: 10px 20px;
    border-radius: 10px;
    
    background: transparent;
    color: #fff;
    /* background: rgba(0, 0, 0, 0.5); */
}

#main {
    background: transparent;
    color: #fff;
    
    padding: 5px 5px;
    background: rgba(0, 0, 0, 0.5);
}

#plugin, #match {
    background: transparent;
}

#match {
    border-radius: 5px;
    padding: 2px 5px;
}

#match:selected {
    background-color: rgba(70, 70, 70, 0.5);
}