hotkey-overlay {
    skip-at-startup
} // Skip keybinding menu

cursor {
    hide-when-typing
    hide-after-inactive-ms 3000
}

input {
    focus-follows-mouse max-scroll-amount="95%"
    warp-mouse-to-focus mode="center-xy"

    keyboard {
        repeat-delay 200

        numlock
    }

    tablet {
        map-to-output "HDMI-A-2"
    }
}

output "DP-4" {
    mode "3440x1440@165.001"
    scale 1.0
    position x=0 y=0
//    transform "0"
    focus-at-startup
}

output "HDMI-A-2" {
    mode "1920x1080@60.000"
    scale 1.25
    position x=952 y=1440
//    transform "0"
}

spawn-at-startup "waybar"
// spawn-at-startup "anyrun"

spawn-at-startup "fish" "-c" "randomWallpaper"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

binds {
    Mod+Return repeat=false { spawn "foot"; }
    Mod+T repeat=false { spawn "foot"; }
    Mod+S repeat=false { spawn "lf"; }
    Mod+B repeat=false { spawn "brave"; }
    Mod+G repeat=false { spawn "code"; }
    Mod+E repeat=false { spawn "obsidian"; }
    Mod+R repeat=false { spawn "blender"; }

    Mod+Space repeat=false { spawn "anyrun"; }

    Mod+Q { close-window; }
    Mod+F repeat=false { maximize-column; }
    Mod+D repeat=false { fullscreen-window; }

    Mod+V repeat=false { screenshot-window write-to-disk=false; }
    Print repeat=false { screenshot show-pointer=false; }

    // Window keybinds
    Mod+U repeat=false { switch-preset-window-height; }
    Mod+H repeat=false { switch-preset-column-width; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Bracketleft { set-window-height "-10%"; }
    Mod+Bracketright { set-window-height "+10%"; }

    Mod+j { focus-column-left; }
    Mod+l { focus-column-right; }
    Mod+i { focus-window-up; }
    Mod+k { focus-window-down; }

    Mod+Ctrl+j { move-column-left; }
    Mod+Ctrl+l { move-column-right; }
    Mod+Ctrl+i { move-window-up; }
    Mod+Ctrl+k { move-window-down; }

    Mod+Comma { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }

    Mod+N repeat=false { toggle-window-floating; }
    Mod+Ctrl+N repeat=false { switch-focus-between-floating-and-tiling; }

    Mod+O repeat=false { toggle-overview; }

    Mod+7 repeat=false { focus-workspace 1; }
    Mod+8 repeat=false { focus-workspace 2; }
    Mod+9 repeat=false { focus-workspace 3; }
    Mod+0 repeat=false { focus-workspace 4; }

    Mod+Ctrl+7 repeat=false { move-column-to-workspace 1; }
    Mod+Ctrl+8 repeat=false { move-column-to-workspace 2; }
    Mod+Ctrl+9 repeat=false { move-column-to-workspace 3; }
    Mod+Ctrl+0 repeat=false { move-column-to-workspace 4; }


    // Sound/Media control
    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "-l" "1.2" "@DEFAULT_AUDIO_SINK@" "2%+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "-l" "1.2" "@DEFAULT_AUDIO_SINK@" "2%-"; }

    Mod+Up   { spawn "wpctl" "set-volume" "-l" "1.2" "@DEFAULT_AUDIO_SINK@" "2%+"; }
    Mod+Down { spawn "wpctl" "set-volume" "-l" "1.2" "@DEFAULT_AUDIO_SINK@" "2%-"; }

    XF86AudioMute repeat=false { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

    Mod+Z repeat=false { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    Mod+M repeat=false { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    Mod+X repeat=false { spawn "playerctl" "play-pause"; }

    XF86AudioPlay repeat=false { spawn "playerctl" "play-pause"; }
    XF86AudioNext repeat=false { spawn "playerctl" "next"; }
    XF86AudioPrev repeat=false { spawn "playerctl" "previous"; }

    Mod+Right { spawn "playerctl" "position" "5+"; }
    Mod+Left  { spawn "playerctl" "position" "5-"; }

    // Screen shortcuts
    Mod+2 repeat=false { spawn "niri" "msg" "output" "HDMI-A-2" "on"; }
    Mod+3 repeat=false { spawn "niri" "msg" "output" "HDMI-A-2" "off"; }
    Mod+4 repeat=false { spawn "/bin/sh" "-c" "niri msg output DP-4 transform normal && niri msg output HDMI-A-2 on"; }
    Mod+5 repeat=false { spawn "/bin/sh" "-c" "niri msg output DP-4 transform 270 && niri msg output HDMI-A-2 off"; }

    Mod+Semicolon repeat=false { focus-monitor-next; }
    Mod+Ctrl+Semicolon repeat=false { move-window-to-monitor-next; }
}

layout {
    gaps 8
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }



    focus-ring {
    	width 3

        active-color "rgba(55, 55, 55, 0.75)"
        inactive-color "rgba(35, 35, 35, 0.75)"
    }

    insert-hint {
        color "rgba(55, 55, 55, 0.75)"
    }
}

prefer-no-csd

debug {
    wait-for-frame-completion-in-pipewire
}

overview {
    zoom 0.5
    workspace-shadow {
    	off
    }
}

window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
}

window-rule {
    match app-id="^blender$"
    match app-id="^gimp"

    open-maximized true
}

// "dropdown"
window-rule {
    match app-id="pavucontrol"

    open-floating true
    default-floating-position x=20 y=20 relative-to="top-right"
    default-window-height { proportion 0.6; }
    default-column-width { proportion 0.2; }
}

animations {

    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}